<!-- inputs,textareas,select all are wrapped inside form-field -->
<mat-form-field color="warn" appearance="legacy" floatLabel="never" hideRequiredMarker>
  <mat-label>Name</mat-label>
  <input matInput required>
  <mat-hint align="end">Min 5 characters</mat-hint>
</mat-form-field>

<!-- floatLabel ---never,always,auto -->
<!-- required -- will add the asterisk ( we could hide it using hideRequiredMarker attribute) -->
<!-- appearance  -filled,outline,legacy,standard -->
<!-- error integration -refer  -->

