<!-- Toolbar  - for creating navbar-->
<mat-toolbar color="primary" class="navbar">
  <div>Codevolution</div>
  <div>
    <span>Home</span>
    <span>About</span>
    <span>Services</span>
  </div>
</mat-toolbar>

<!-- SideNav -->
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" (opened)="log('opened')" (closed)="log('closed')" mode="side" #sidenav>SideNav</mat-sidenav>
  <mat-sidenav-content>Main
    <button (click)="opened = !opened">Toggle Opened</button>
    <button (click)="sidenav.open()">open</button>
    <button (click)="sidenav.close()">close</button>
    <button (click)="sidenav.toggle()">Toggle</button>
  </mat-sidenav-content>
</mat-sidenav-container>
<!--mode  over,push,side -->

