<!-- Icons -->

<!-- just text ni google icons nunchi choosi marustunte icon marutundhi. -->
<mat-icon color="basic">close</mat-icon>



<!-- Badges -->

<div>
  <span [matBadge]="notifications" matBadgePosition="above after"
  matBadgeSize="medium" matBadgeOverlap="false"
  matBadgeColor="accent"
  [matBadgeHidden]="notifications === 0"
  >
    Notifications</span>
</div>

<!-- matBadgePosition above before,above after, below before, below after -->
<!-- matBadgeSize small, large, medium -->
<!-- matBadgeColor primary,accent,warn -->
<!-- matBadgeOverlap  false  ---for icons it is advised to overlap and not for texts -->
<!-- matBadgeHidden   Conditional display of badge-->



